* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 50px;
	perspective: 800px;
}

body {
	background: url("../images/pageone/bg.jpg")no-repeat center;
	background-size: cover;
	overflow: hidden;
}

#wrap {
	width: 100%;
	height: 100%;
}

#head {
	position: relative;
	width: 6.4rem;
	height: 6.4rem;
	margin: 1.46rem auto 2.49rem;
	/* border: 1px solid red; */
}

#img1 {
	position: absolute;
	width: 100%;
	top: -7.86rem;
}

#img2 {
	position: absolute;
	height: 100%;
	left: -3.76rem;
}

#img3 {
	position: absolute;
	width: 100%;
	bottom: -10.5rem;
}

#img4 {
	position: absolute;
	width: 25%;
	top: -5.36rem;
	left: 4.26rem;
}

#img5 {
	position: absolute;
	width: 27%;
	top: -7.86rem;
	left: 2.49rem;
}

#img6 {
	position: absolute;
	width: 12%;
	top: -7.86rem;
	left: 4.40rem;
}

#img7 {
	position: absolute;
	width: 20%;
	top: -5.36rem;
	left: 5.56rem;
}

#img8 {
	position: absolute;
	width: 10%;
	top: -5.56rem;
	left: 5.56rem;
}

#img9 {
	position: absolute;
	width: 77%;
	bottom: -11rem;
	left: 2.45rem;
}

#img10 {
	position: absolute;
	width: 12%;
	top: 2.59rem;
	left: 0.23rem;
	transform: translate3d(0, 0, 8.7rem);
	opacity: 0.2;
}

#img11 {
	position: absolute;
	width: 40%;
	top: 2.37rem;
	left: 1.36rem;
	transform: translate3d(1.6rem, 0rem, 21.6rem);
	opacity: 0.2;
}

#img12 {
	position: absolute;
	width: 12%;
	top: 2.52rem;
	left: 2.49rem;
	transform: translate3d(-2.5rem, 0rem, 21.6rem);
	opacity: 0.2;
}

#img13 {
	position: absolute;
	width: 45%;
	top: 2.20rem;
	left: 3.39rem;
	transform: translate3d(-2.5rem, 1.5rem, 21.6rem);
	opacity: 0.2;
}

#img14 {
	position: absolute;
	width: 75%;
	bottom: 0rem;
	left: 1.61rem;
	transform: translate3d(0rem, 2.5rem, 21.6rem);
	opacity: 0.2;
}

#content {
	position: relative;
	width: 100%;
}

#img15 {
	position: absolute;
	margin: 0 27%;
	width: 50%;
	transform: translate3d(0rem, 10.5rem, -100.6rem);
	opacity: 0;
}

#img16 {
	position: absolute;
	top: -0.95rem;
	left: 1.45rem;
	width: 35%;
	transform: translate3d(0rem, 0rem, -100.6rem);
	opacity: 0.8;
}

#img17 {
	position: absolute;
	top: -1.35rem;
	left: 1.15rem;
	width: 80%;
	height: 4.3rem;
	transform: translate3d(0rem, 0rem, 21.6rem);
	opacity: 1;
	z-index: -1;
}

#l1 {
	position: absolute;
	top: 7.5rem;
	left: -3.5rem;
}

#l2 {
	position: absolute;
	top: 7.5rem;
	right: -3.5rem;
	z-index: -1;

}

#l3 {
	position: absolute;
	top: 7.5rem;
	right: -4.2rem;
	z-index: -1;
}

#slide {
	position: fixed;
	width: 12%;
	bottom: 0%;
	left: 47%;
	animation: slideBtn 1.5s linear infinite;

}

/* 添加动画 */
@-webkit-keyframes slideBtn {
	0% {
		bottom: 0%;
	}

	25% {
		bottom: 2%;
	}

	50% {
		bottom: 4%;
	}

	75% {
		bottom: 2%;
	}

	100% {
		bottom: 0%;
	}
}


@media screen and (max-width: 321px) {
	html {
		font-size: 42.7px;
	}

}

@media screen and (min-width: 322px) and (max-width:399px) {
	html {
		font-size: 48px;
	}
}

@media screen and (min-width: 400px) and (max-width:766px) {
	html {
		font-size: 77.7pxpx;
	}
}

@media screen and (min-width: 767px) and (max-width:1022px) {
	html {
		font-size: 75px;
	}
}

@media screen and (min-width: 1023px) {
	html {
		font-size: 100px;
	}
}
