*{
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
	font-size: 50px;
	perspective: 50rem;
}
body{
	background: url("../img/bg.jpg")no-repeat;
	background-size:100% 100%;
	overflow: hidden;
}
#wrap{
	position: relative;
	width: 100%;
	height: 100%;
	/* border: 10px solid red; */
}
#block1{
	position: absolute;
	width: 30%;
	top: -28%;
	left: 10%;
	transform: translate3d(10rem,2rem,5rem);
}
#block2{
	position: absolute;
	width: 35%;
	top: -28%;
	left: 25%;
	transform: translate3d(-10rem,5rem,5rem);

}
#block3{
	position: absolute;
	width: 8%;
	top: -28%;
	left: 0%;
	transform: translate3d(-10rem,0rem,5rem);
}
#block4{
	position: absolute;
	width: 12%;
	top: -8%;
	right: 10%;
	transform: translate3d(10rem,0rem,5rem);
}
#block5{
	position: absolute;
	width: 35%;
	top: -28%;
	right: 12%;
	z-index: -1;
	transform: translate3d(10rem,5rem,5rem);
}
#block6{
	position: absolute;
	width: 20%;
	top: -35%;
	right: -5%;
	transform: translate3d(10rem,0rem,5rem);
}
#parnter{
	position: absolute;
	width: 50%;
	top: -20%;
	right: 5%;
	opacity: 0;
}
#content{
	position: relative;
	width: 6.5rem;
	height: 9.5rem;
	/* border: 2px solid red; */
	margin: 40% auto 0;
}
#content #ellemen{
	position: absolute;
	width: 80%;
	top: 0%;
	left: 10%;
	opacity: 0;
}
#content #graduation{
	position: absolute;
	width: 80%;
	height: 30%;
	top: 25%;
	left: 10%;
	opacity: 0;
}
#content #kr{
	position: absolute;
	width: 30%;
	top: 120%;
	left: 0%;
}
#content #bank{
	position: absolute;
	width: 30%;
	top: 120%;
	left: 35%;

}
#content #aiqiyi{
	position: absolute;
	width: 30%;
	top: 120%;
	right: 0%;

}
#slide {
	position: fixed;
	width: 12%;
	bottom: 0%;
	left: 47%;
	animation: slideBtn 1.5s linear infinite;

}
/* 添加动画 */
@-webkit-keyframes slideBtn {
	0% {
		bottom: 0%;
	}

	25% {
		bottom: 2%;
	}

	50% {
		bottom: 4%;
	}

	75% {
		bottom: 2%;
	}

	100% {
		bottom: 0%;
	}
}
@media screen and (max-width: 321px) {
	html {
		font-size: 42.7px;
	}

}

@media screen and (min-width: 322px) and (max-width:399px) {
	html {
		font-size: 48px;
	}
}

@media screen and (min-width: 400px) and (max-width:766px) {
	html {
		font-size: 77.7pxpx;
	}
}

@media screen and (min-width: 767px) and (max-width:1022px) {
	html {
		font-size: 65px;
	}
	#ttww{
		width: 50%;
		margin:40% 25% 2%;
		opacity: 0;
	}
}

@media screen and (min-width: 1023px) {
	html {
		font-size: 95px;
	}
}
