*{
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
	font-size: 50px;
	perspective: 50rem;
}
body{
	background: url("../img/bg.jpg")no-repeat;
	background-size:100% 100%;
	overflow: hidden;
}
#wrap{
	position: relative;
	width: 100%;
	height: 100%;
	/* border: 10px solid red; */
}
#good{
	position: absolute;
	width: 40%;
	top: -60%;
	left: 10%;
}
#jb{
	position: absolute;
	width: 40%;
	top: -60%;
	right: 5%;
}
#kind{
	position: absolute;
	width: 35%;
	top: -60%;
	left: 30%;
}
#font1{
	position: absolute;
	width: 80%;
	top: -20%;
	left: 10%;
}
#content{
	width: 5.5rem;
	height: 7.5rem;
	/* border: 1px solid red; */
	color: #fff;
	margin: 65% auto 0;
}
#tel,#yy{
	width: 100%;
}
#demond{
	width: 40%;
	margin: 5% 35% 0;
} 
#font2{
	width: 100%;
}
#ellemen1{
	width: 60%;
	margin: 0 25%;
}

#slide {
	position: fixed;
	width: 12%;
	bottom: 0%;
	left: 47%;
	animation: slideBtn 1.5s linear infinite;

}
/* 添加动画 */
@-webkit-keyframes slideBtn {
	0% {
		bottom: 0%;
	}

	25% {
		bottom: 2%;
	}

	50% {
		bottom: 4%;
	}

	75% {
		bottom: 2%;
	}

	100% {
		bottom: 0%;
	}
}
@media screen and (max-width: 321px) {
	html {
		font-size: 42.7px;
	}

}

@media screen and (min-width: 322px) and (max-width:399px) {
	html {
		font-size: 48px;
	}
}

@media screen and (min-width: 400px) and (max-width:766px) {
	html {
		font-size: 77.7pxpx;
	}
}

@media screen and (min-width: 767px) and (max-width:1022px) {
	html {
		font-size: 65px;
	}
	#ttww{
		width: 50%;
		margin:40% 25% 2%;
		opacity: 0;
	}
}

@media screen and (min-width: 1023px) {
	html {
		font-size: 95px;
	}
}